
<div class='row'>
    <div  style="padding: 20px; background-color: #f2f2f2; display: flex; flex-direction: row; width: 100%; align-items: center; justify-content: space-evenly;margin-top:20px;">
<div>
<h1><span>Username: <%= user.username %></span></h1>
<h3><span>Email: <%= user.email %> </span></h3>
<h3><span>Bio:  <%= user.bio %></span> </h3>
</div>
   <% if user.avatar.attached? %>
      <%= image_tag user.avatar,style:'width:260px;height:260px;border-radius:50%;'%>
      <% end %>
</div>

</div>
